absl-py
appdirs
asttokens
astunparse
audioread
backcall
cached-property
cachetools
certifi
cffi
charset-normalizer
clang
cmake
cycler
dataclasses
decorator
executing
filelock
flatbuffers
fonttools
gast
google-auth
google-auth-oauthlib
google-pasta
grpcio
h5py
idna
importlib-metadata
importlib-resources
ipython
ipython-genutils
jedi
Jinja2
joblib
keras
Keras-Preprocessing
kiwisolver
librosa
lit
llvmlite
Markdown
MarkupSafe
matplotlib
matplotlib-inline
mpmath
msgpack
networkx
numba
numpy
nvidia-cublas-cu11
nvidia-cuda-cupti-cu11
nvidia-cuda-nvrtc-cu11
nvidia-cuda-runtime-cu11
nvidia-cudnn-cu11
nvidia-cufft-cu11
nvidia-curand-cu11
nvidia-cusolver-cu11
nvidia-cusparse-cu11
nvidia-nccl-cu11
nvidia-nvtx-cu11
oauthlib
opt-einsum
packaging
panns-inference
parso
pexpect
pickleshare
Pillow
pooch
prompt-toolkit
protobuf
ptyprocess
pure-eval
pyasn1
pyasn1-modules
pycparser
pydub
Pygments
pyparsing
python-dateutil
requests
requests-oauthlib
resampy
rsa
scikit-learn
scipy
six
soundfile
soxr
stack-data
sympy
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorflow
tensorflow-estimator
termcolor
threadpoolctl
torch
torchlibrosa
traitlets
triton
typing-extensions
urllib3
wcwidth
Werkzeug
wrapt
zipp
